<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

<jsp-config>
  <jsp-property-group>
    <url-pattern>*.jsp</url-pattern>
    <page-encoding>UTF-8</page-encoding>
    <include-prelude>/WEB-INF/JSP/taglibs.jsp</include-prelude>
  </jsp-property-group>
</jsp-config>

  <welcome-file-list>
    <welcome-file>groupe-musique</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/JSP/erreur.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/JSP/erreur.jsp</location>
  </error-page>
  
  <session-config>
    <session-timeout>
        30
    </session-timeout>
 </session-config>

</web-app>